.navbar{

    background-color: blue;
}

.Icon{
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    font-style: italic;
    color: aliceblue;
}

#card {
    margin-top: 10px;
    width: 18rem;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 11px 11px 22px #b8b8b8, -11px -11px 22px #ffffff;
}


