#FirstName {
    margin-left: 70px;
    color: brown;
}
#LastName {
    margin-left: 70px;
}
#PhoneNumber {
    margin-left: 30px;
}
#Email {
    margin-left: 90px;
}
#Address {
    margin-left: 70px;
}
#Date {
    margin-left: 90px;
}
#KK {
    background-color: darkslategrey;
    color: azure;
    height: 90vh;
}